	body		{ background-image:url('images/b2.gif');background-repeat: repeat;font-family: sans-serif,arial;font-size:11px;color:black;
					margin:0;padding:0;height:100%; border:none
				}
	form		{display:inline};
	.submit2	{ height:18px;font-size:10px;}
	.input2		{ height:13px; font-size:10px;}
	.highlight 	{ background-color: #ffdddd;text-align:center}
	.caption1   { font-weight: bold; text-align:right;}
	.menu		{ background-color:#000000;text-align:center;text-decoration: none; color: #ffffff; font-family: sans-serif,arial;font-size:11px}
	.menu:hover	{ background-color:#606040;text-align:center;text-decoration: none; color: #ffffff; font-family: sans-serif,arial;font-size:11px}
	.nav		{ background-color:#000000;text-align:center;text-decoration: none; color: #ffffff; font-family: sans-serif,arial;font-size:11px}
	.nav:hover	{ background-color:#606040;text-align:center;text-decoration: none; color: #ffffff; font-family: sans-serif,arial;font-size:11px}
	.menus		{text-decoration: none; color: #ffffff; font-family: sans-serif,arial}
	.loginText 	{ text-align:left; font-size:12px; font-weight:bold}
	.loginInput { text-align:left; font-size:10px;height:14px; }
	.loginSubmit{ height:18px;font-size:10px;}
	.loginError { text-align:left; font-size:10px; color:red}
	.appltitle	{ text-align:center; font-size:20px;  font-family: sans-serif,arial}
	.sub_title	{ text-align:center; font-size:16px;  font-family: sans-serif,arial; font-weight:bold;margin:10px}
	.content    { vertical-align:top;width:100%;height:600px;background-color:white;}
	.pannel		{background-color:#eeeeee }
	
	.editpagetable 	{margin:10px; border-style:none;border-collapse:collapse; }
	.error			{text-align:center;color:red;font-weight: bold;height:20px;}
	.okay			{text-align:center;color:green;height:20px;}
	
	.tab			{width:800px; outline-style:none;  margin:10px; border-collapse:collapse; }
	.tabCaption 	{color:black;text-align:left; width:1%;font-family:Arial;font-size:12px;border-collapse:collapse;}
	.tabCaptionText {color:black;text-align:left;font-family:Arial;font-size:12px;text-decoration:none; border-collapse:collapse;border-width:1px;border-color:black;border-style:solid;padding:0px 10px 0px 10px }
	.tabActive  	{color:black;text-align:left; width:1%;font-family:Arial;font-size:12px;border-width:1px;border-color:black;border-style:solid;padding:0px 10px 0px 10px;border-bottom-style:none;background-color:#F8F8F8;}
	.tabEmpty   	{color:black;text-align:left; width:100%;border-width:1px;border-color:black;border-bottom-style:solid; }
	.tabBody		{color:black;background-color:#F8F8F8;border-width:1px;border-color:black;border-style:solid;border-top-style:none;}
	.dia			{border-width:1px;border-color:#333333;border-style:solid;padding:3px }
	
	.zene           {margin:10px; border-collapse:collapse; color:black;text-align:left; vertical-align:top; background-color: #e8e8e8 }
	.zenetab    	{color:black;text-align:left; vertical-align:top; width:30%;	background-color: #e8e8e8 }
	.zenetabout     {color:black;text-align:left; 	background-color: white }
	.zenevoters     {margin:10px;color:black;text-align:left; 	background-color: #e8e8e8;border-width:1px;border-color:black; }
	.zenetext		{text-align:right; }
	.zenecaption	{background-color: #e0e0e0;font-weight: bold }
	.LogonLine		{text-align: right;}
	.loginFacebookSubmit {border-style: none; background-image: url("../images/facebook_bejelentkezes.jpg");width: 163px;height: 22px;vertical-align: bottom;	}
	.loginFacebookSubmitH{border-style: none; background-image: url("../images/fblogin.png");width: 87px;height: 21px; margin: 10px	}
	#topLine		{height:20px;}
	.borderbutton 	{ border-style: none;border-radius: 6px;background-color: #dddddd;width: 25px;height: 19px;text-align: center;vertical-align:middle;}
	.borderbuttonedit {background-image: url("../images/edit.gif");background-repeat: no-repeat;background-position-x: 5px;background-position-y: 20px;height: 39px;}
	.borderbuttonworld {background-image: url("../images/world-16.png");background-repeat: no-repeat;background-position-x: 5px;background-position-y: 20px; height: 39px;}
	.pictureView {border-radius: 6px; display:none;position: absolute; top:50px; left:50px;background-color: lightgray;z-index: 200;padding:20px}