*, *::before, *::after {
    box-sizing: border-box;
}
#solitaire {
    background-color: green;
    color: white;
    overflow: auto;
    position: relative;
    max-width:100%;
    aspect-ratio: 1 / 1;
    padding: 0 2rem;
}
#solitaire #menu-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
#solitaire button, #solitaire #move-count, #solitaire #score {
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0 0.5rem 0 0.5rem;
    color: white;
    font-size: 2vw;
    font-weight: normal;
}
#solitaire button {
    cursor: pointer;
    background: none;
    border: none;
    outline: 0;
}
#solitaire button:hover {
    border-radius:4vw;
    padding: 0 0.5rem 0 0.5rem;
    background-color: lightgreen;
}
#solitaire .card-pile-row {
    float: left;
    width: 100%;
    margin-top: 4%;
    overflow: visible;
    position: relative;
}
#solitaire .card-pile {
    float: left;
    position: relative;
    overflow: visible;
    width: 13%;
    margin-right: 1.28%;
}
#solitaire .card-pile::after {
    content: "";
    display: block;
    padding-bottom: 140%;
}
#solitaire #stock::before {
    content: attr(data-card-count);
    position: absolute;
    display: inline-block;
    z-index: 200;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
    padding: 40% 0;
}
#solitaire .card {
    border-radius: 0.75vw;
    border: 0.2vw solid lightgray;
    position: absolute;
    z-index: 1;
    overflow: visible;
    top: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    background-color: #fff;
    background-image: url(gamesolitaire_cards.png);
    transform: translate(1px, 0);
    background-size: 1400%;
}
#solitaire .card.facedown {
    background: #bbb;
    background-image: url(gamesolitaireback.png);
    background-size: cover;
    background-repeat: false;
    background-position-x: 0;
    background-position-y: 0;
}
#solitaire .jiggleCard {
    animation: rotateAnimation 200ms;
    animation-fill-mode: none;
}
#solitaire .slideCard {
    animation: slideAnimation 300ms;
    animation-fill-mode: forward;
}
@keyframes slideAnimation {
    to {
        transform: translate(0, 0);
    }
}
@keyframes rotateAnimation {
    30% {
        transform: rotateZ(-5deg);
    }
    70% {
        transform: rotateZ(5deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
#solitaire #victory {
    color: white;
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    padding: 0;
    margin: 3rem 0 0 -40%;
    display: none;
    z-index: 300;
    font-size: 2rem;
}
