
AddType	x-mapp-php5	.php
AddHandler	x-mapp-php5	.php


DirectoryIndex index.php index.html

ErrorDocument 404 /dc.php

RewriteEngine On 
Options FollowSymLinks 

Redirect 301 /Levente_Maier /Maier_Levente-12A1985-21
Redirect 301 /Tamas_Gizella /Tamas_Gizella-12A1985-2
Redirect 301 /Varga_Dorottya /Varga_Dorottya-12A1985-3
Redirect 301 /Barabasi_Emese /Barabasi_Emese-12A1985-37
Redirect 301 /Barabasi_Jeno_Rudolf /Barabasi_Jeno_Rudolf-12A1985-4
Redirect 301 /Benedek_Zsolt /Benedek_Zsolt-12A1985-5
Redirect 301 /Hinschutz_Eniko /Hinschutz_Eniko-12A1985-6
Redirect 301 /Biro_Adam_Atilla /Biro_Adam_Atilla-12A1985-7
Redirect 301 /Kovacs_Katalin /Kovacs_Katalin-12A1985-8
Redirect 301 /Bujaki_Sandor /Bujaki_Sandor-12A1985-9
Redirect 301 /Gaspar_Edina /Gaspar_Edina-12A1985-10
Redirect 301 /Csaszar_Istvan /Csaszar_Istvan-12A1985-11
Redirect 301 /David_Ildiko /David_Ildiko-12A1985-12
Redirect 301 /Donath_Kalman /Donath_Kalman-12A1985-13
Redirect 301 /Szilagyi_Ildiko /Szilagyi_Ildiko-12A1985-14
Redirect 301 /Onci_Krisztina /Onci_Krisztina-12A1985-15
Redirect 301 /Buchmuller_Agnes /Buchmuller_Agnes-12A1985-16
Redirect 301 /Veres_Agnes /Veres_Agnes-12A1985-17
Redirect 301 /Szallos_Eszter /Szallos_Eszter-12A1985-18
Redirect 301 /Gruber_Oszkar /Gruber_Oszkar-12A1985-19
Redirect 301 /Kali_Sandor /Kali_Sandor-12A1985-20
Redirect 301 /Maier_Levente /Maier_Levente-12A1985-21
Redirect 301 /Kiss_Edit /Kiss_Edit-12A1985-22
Redirect 301 /Krull_Klara /Krull_Klara-12A1985-23
Redirect 301 /Bogardine_Magdolna /Bogardine_Magdolna-12A1985-24
Redirect 301 /Kovacs_Laszlo /Kovacs_Laszlo-12A1985-25
Redirect 301 /Donath_Julia_Karmen /Donath_Julia_Karmen-12A1985-26
Redirect 301 /Miklos_Andras /Miklos_Andras-12A1985-27
Redirect 301 /Nagy_Bela /Nagy_Bela-12A1985-39
Redirect 301 /Darai_Gabriella /Darai_Gabriella-12A1985-28
Redirect 301 /Paniti_Arpad /Paniti_Arpad-12A1985-38
Redirect 301 /Petrov_Ljubomir /Petrov_Ljubomir-12A1985-29
Redirect 301 /Sover_Laszlo_Tibor /Sover_Laszlo_Tibor-12A1985-30
Redirect 301 /Szabo_Istvan /Szabo_Istvan-12A1985-31
Redirect 301 /Szekely_Hajnalka /Szekely_Hajnalka-12A1985-32
Redirect 301 /Tatar_Tunde /Tatar_Tunde-12A1985-33
Redirect 301 /Vincze_Nemet_Gabriella /Vincze_Nemet_Gabriella-12A1985-35
Redirect 301 /Varga_Ildiko /Varga_Ildiko-12A1985-34
Redirect 301 /Ferenczy_Vass_Eva /Ferenczy_Vass_Eva-12A1985-40
Redirect 301 /Moll_Marta /Moll_Marta-12A1985-36
Redirect 301 /Balazs_Attila /Balazs_Attila-12B1985-1
Redirect 301 /Fodor_Eva /Fodor_Eva-12B1985-2
Redirect 301 /Boros_Edit /Boros_Edit-12B1985-4
Redirect 301 /Both_Melinda /Both_Melinda-12B1985-5
Redirect 301 /Chiorean_Krisztina /Chiorean_Krisztina-12B1985-6
Redirect 301 /Vernes_Ibolya /Vernes_Ibolya-12B1985-7
Redirect 301 /Bukkos_Ildiko /Bukkos_Ildiko-12B1985-8
Redirect 301 /Dali_Endre /Dali_Endre-12B1985-9
Redirect 301 /Deak_Attila /Deak_Attila-12B1985-10
Redirect 301 /Kalman_Maria_Magdolna /Kalman_Maria_Magdolna-12B1985-11
Redirect 301 /Felhazi_Sandor /Felhazi_Sandor-12B1985-12
Redirect 301 /Fulop_Erzsebet /Fulop_Erzsebet-12B1985-13
Redirect 301 /Hosszu_Sandor /Hosszu_Sandor-12B1985-15
Redirect 301 /Gellert_Ilona /Gellert_Ilona-12B1985-14
Redirect 301 /Bodo_Steven /Bodo_Steven-12B1985-3
Redirect 301 /Jasko_Ilona /Jasko_Ilona-12B1985-16
Redirect 301 /Kelemen_Attila /Kelemen_Attila-12B1985-17
Redirect 301 /Kis_Lukacs_Laszlo /Kis_Lukacs_Laszlo-12B1985-19
Redirect 301 /Kiss_Attila_Geza_(Cezar) /Kiss_Attila_Geza_(Cezar)-12B1985-18
Redirect 301 /Revesz_Erzsebet /Revesz_Erzsebet-12B1985-42
Redirect 301 /Kory_Orsolya /Kory_Orsolya-12B1985-20
Redirect 301 /Kovacs_Adelka /Kovacs_Adelka-12B1985-22
Redirect 301 /Kovacs_Arpad /Kovacs_Arpad-12B1985-21
Redirect 301 /Szabo_Eva /Szabo_Eva-12B1985-23
Redirect 301 /Lazar_Gabriella /Lazar_Gabriella-12B1985-24
Redirect 301 /Lenard_Jozsef_(Yogi) /Lenard_Jozsef_(Yogi)-12B1985-25
Redirect 301 /Marton_Asgrim_Aniko /Marton_Asgrim_Aniko-12B1985-26
Redirect 301 /Berger_Maria /Berger_Maria-12B1985-27
Redirect 301 /Nagy_Maria /Nagy_Maria-12B1985-39
Redirect 301 /Papp_Levente /Papp_Levente-12B1985-28
Redirect 301 /Szados_Erzsebet /Szados_Erzsebet-12B1985-29
Redirect 301 /Dosa_Magda /Dosa_Magda-12B1985-30
Redirect 301 /Dezsi_Krisztina /Dezsi_Krisztina-12B1985-31
Redirect 301 /Rozsa_Julianna /Rozsa_Julianna-12B1985-32
Redirect 301 /Losteiner_Agnes /Losteiner_Agnes-12B1985-33
Redirect 301 /Gergely_Varga_Andrea /Gergely_Varga_Andrea-12B1985-34
Redirect 301 /Tar_Bengtsson_Zsuzsa /Tar_Bengtsson_Zsuzsa-12B1985-35
Redirect 301 /Bazsa_Jolan /Bazsa_Jolan-12B1985-37
Redirect 301 /Toth_Ibolya /Toth_Ibolya-12B1985-36
Redirect 301 /Veres_Gitta /Veres_Gitta-12B1985-38
Redirect 301 /Vremir_Marton /Vremir_Marton-12B1985-40


RewriteBase / 
RewriteRule Levente_Maier editDiak.php?uid=21&scoolYear=1985&scoolClass=12A
RewriteRule Kalmar_Levente editDiak.php?uid=&scoolYear=1985&scoolClass=12A