
AddType	x-mapp-php5	.php
AddHandler	x-mapp-php5	.php


DirectoryIndex index.php index.html

ErrorDocument 404 /brassai/dc.php

RewriteEngine On 
Options FollowSymLinks 

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /

## Iskolák
RewriteRule ^iskola-brassai$ /brassai/start?schoolid=1 [NC,L]
RewriteRule ^iskola-bathory$ /brassai/start?schoolid=2 [NC,L]
RewriteRule ^iskola-apacai$ /brassai/start?schoolid=3 [NC,L]
RewriteRule ^iskola-reformatus-kollegium$ /brassai/start?schoolid=4 [NC,L]
RewriteRule ^iskola-jzsuk$ /brassai/start?schoolid=5 [NC,L]
RewriteRule ^iskola-zeneiskola$ /brassai/start?schoolid=6 [NC,L]

RewriteRule ^iskola-brassai-info$ /brassai/school?schoolid=1 [NC,L]
RewriteRule ^iskola-bathory-info$ /brassai/school?schoolid=2 [NC,L]
RewriteRule ^iskola-apacai-info$ /brassai/school?schoolid=3 [NC,L]
RewriteRule ^iskola-reformatus-kollegium-info$ /brassai/school?schoolid=4 [NC,L]
RewriteRule ^iskola-jzsuk-info$ /brassai/school?schoolid=5 [NC,L]
RewriteRule ^iskola-zeneiskola-info$ /brassai/school?schoolid=6 [NC,L]

RewriteRule ^iskola-brassai-kepek$ /brassai/picture?type=schoolID&typeid=1 [NC,L]
RewriteRule ^iskola-bathory-kepek$ /brassai/picture?type=schoolID&typeid=2 [NC,L]
RewriteRule ^iskola-apacai-kepek$ /brassai/picture?type=schoolID&typeid=3 [NC,L]
RewriteRule ^iskola-reformatus-kollegium-kepek$ /brassai/picture?type=schoolID&typeid=4 [NC,L]
RewriteRule ^iskola-jzsuk-kepek$ /brassai/picture?type=schoolID&typeid=5 [NC,L]
RewriteRule ^iskola-zeneiskola-kepek$ /brassai/picture?type=schoolID&typeid=6 [NC,L]

RewriteRule ^iskola-brassai-osztalyok$ /brassai/classlist?schoolid=1 [NC,L]
RewriteRule ^iskola-bathory-osztalyok$ /brassai/classlist?schoolid=2 [NC,L]
RewriteRule ^iskola-apacai-osztalyok$ /brassai/classlist?schoolid=3 [NC,L]
RewriteRule ^iskola-reformatus-kollegium-osztalyok$ /brassai/classlist?schoolid=4 [NC,L]
RewriteRule ^iskola-jzsuk-osztalyokk$ /brassai/classlist?schoolid=5 [NC,L]
RewriteRule ^iskola-zeneiskola-osztalyok$ /brassai/classlist?schoolid=6 [NC,L]

RewriteRule ^iskola-terkep$ /brassai/worldmap?classid=all&schoolid=all [NC,L]
RewriteRule ^iskola-brassai-terkep$ /brassai/worldmap?classid=all&schoolid=1 [NC,L]
RewriteRule ^iskola-bathory-terkep$ /brassai/worldmap?classid=all&schoolid=2 [NC,L]
RewriteRule ^iskola-apacai-terkep$ /brassai/worldmap?classid=all&schoolid=3 [NC,L]
RewriteRule ^iskola-reformatus-kollegium-terkep$ /brassai/worldmap?classid=all&schoolid=4 [NC,L]
RewriteRule ^iskola-jzsuk-terkep$ /brassai/worldmap?classid=all&schoolid=5 [NC,L]
RewriteRule ^iskola-zeneiskola-terkep$ /brassai/worldmap?classid=all&schoolid=6 [NC,L]

ReWriteRule ^brassai/picture?classid=([0-9]+)$ /brassai/picture?type=classID&typeid=$1 [NC,L]

## hide .php extension
# To externally redirect /dir/foo.php to /dir/foo
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L,NC]

## To internally redirect /dir/foo to /dir/foo.php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [L]