
AddType	x-mapp-php5	.php
AddHandler	x-mapp-php5	.php


DirectoryIndex index.php index.html

ErrorDocument 404 /dc.php

RewriteEngine On 
Options FollowSymLinks 

RewriteBase / 
RewriteRule Ferenczy-Vass_Eva editDiak.php?uid=1&scoolYear=1985&scoolClass=12A
RewriteRule Vass_Eva editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Tamas_Gizella editDiak.php?uid=2&scoolYear=1985&scoolClass=12A
RewriteRule Andras_Gizella editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Varga_Dorottya editDiak.php?uid=3&scoolYear=1985&scoolClass=12A
RewriteRule Balogh_Dorottya editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Barabasi_Jeno-Rudolf editDiak.php?uid=4&scoolYear=1985&scoolClass=12A
RewriteRule Benedek_Zsolt editDiak.php?uid=5&scoolYear=1985&scoolClass=12A
RewriteRule Hinschutz_Eniko editDiak.php?uid=6&scoolYear=1985&scoolClass=12A
RewriteRule Bereczki_Eniko editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Biro_Adam-Atilla editDiak.php?uid=7&scoolYear=1985&scoolClass=12A
RewriteRule Kovacs_Katalin editDiak.php?uid=8&scoolYear=1985&scoolClass=12A
RewriteRule Biro_Katalin editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Bujaki_Sandor editDiak.php?uid=9&scoolYear=1985&scoolClass=12A
RewriteRule Gaspar_Edina editDiak.php?uid=10&scoolYear=1985&scoolClass=12A
RewriteRule Cosma_Edina editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Csaszar_Istvan editDiak.php?uid=11&scoolYear=1985&scoolClass=12A
RewriteRule David_Ildiko editDiak.php?uid=12&scoolYear=1985&scoolClass=12A
RewriteRule Daniel_Ildiko editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Donath_Kalman editDiak.php?uid=13&scoolYear=1985&scoolClass=12A
RewriteRule Szilagyi_Ildiko editDiak.php?uid=14&scoolYear=1985&scoolClass=12A
RewriteRule Dozsa_Ildiko editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Onci_Krisztina editDiak.php?uid=15&scoolYear=1985&scoolClass=12A
RewriteRule Erdelyi_Krisztina editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Buchmuller_Agnes editDiak.php?uid=16&scoolYear=1985&scoolClass=12A
RewriteRule Ferenc_Agnes editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Veres_Agnes editDiak.php?uid=17&scoolYear=1985&scoolClass=12A
RewriteRule Fulop_Agnes editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Szallos_Eszter editDiak.php?uid=18&scoolYear=1985&scoolClass=12A
RewriteRule Gergely_Eszter editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Gruber_Oszkar editDiak.php?uid=19&scoolYear=1985&scoolClass=12A
RewriteRule Kali_Sandor editDiak.php?uid=20&scoolYear=1985&scoolClass=12A
RewriteRule Maier_Levente editDiak.php?uid=21&scoolYear=1985&scoolClass=12A
RewriteRule Levente_Maier editDiak.php?uid=21&scoolYear=1985&scoolClass=12A
RewriteRule Kalmar_Levente editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Kiss_Edit editDiak.php?uid=22&scoolYear=1985&scoolClass=12A
RewriteRule Krull_Klara editDiak.php?uid=23&scoolYear=1985&scoolClass=12A
RewriteRule Kiss_Klara editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Bogardi_Magdolna editDiak.php?uid=24&scoolYear=1985&scoolClass=12A
RewriteRule Kocsis_Magdolna editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Kovacs_Laszlo editDiak.php?uid=25&scoolYear=1985&scoolClass=12A
RewriteRule Donath_Julia-Karmen editDiak.php?uid=26&scoolYear=1985&scoolClass=12A
RewriteRule Kozma_Julia-Karmen editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Miklos_Andras editDiak.php?uid=27&scoolYear=1985&scoolClass=12A
RewriteRule Darai_Gabriella editDiak.php?uid=28&scoolYear=1985&scoolClass=12A
RewriteRule Pallos_Gabriella editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Petrov_Ljubomir editDiak.php?uid=29&scoolYear=1985&scoolClass=12A
RewriteRule Sover_Laszlo-Tibor editDiak.php?uid=30&scoolYear=1985&scoolClass=12A
RewriteRule Szabo_Istvan editDiak.php?uid=31&scoolYear=1985&scoolClass=12A
RewriteRule Szekely_Hajnalka editDiak.php?uid=32&scoolYear=1985&scoolClass=12A
RewriteRule Tatar_Tunde editDiak.php?uid=33&scoolYear=1985&scoolClass=12A
RewriteRule Varga_Ildiko editDiak.php?uid=34&scoolYear=1985&scoolClass=12A
RewriteRule Vincze-Nemet_Gabriella editDiak.php?uid=35&scoolYear=1985&scoolClass=12A
RewriteRule Vanyolosi_Gabriella editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Moll_Marta editDiak.php?uid=36&scoolYear=1985&scoolClass=12A
RewriteRule Zsiboi_Marta editDiak.php?uid=&scoolYear=1985&scoolClass=12A
RewriteRule Veboldal_Adminisztrator editDiak.php?uid=37&scoolYear=1985&scoolClass=12A
RewriteRule Szerelo_Adminisztrator editDiak.php?uid=&scoolYear=1985&scoolClass=12A

RewriteRule Balazs_Attila editDiak.php?uid=1&scoolYear=1985&scoolClass=12B
RewriteRule Fodor_Eva editDiak.php?uid=2&scoolYear=1985&scoolClass=12B
RewriteRule Balog_Eva editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Bodo_Istvan editDiak.php?uid=3&scoolYear=1985&scoolClass=12B
RewriteRule Bodo_Steven editDiak.php?uid=3&scoolYear=1985&scoolClass=12B
RewriteRule Boros_Edit editDiak.php?uid=4&scoolYear=1985&scoolClass=12B
RewriteRule Both_Melinda editDiak.php?uid=5&scoolYear=1985&scoolClass=12B
RewriteRule Chiorean_Krisztina editDiak.php?uid=6&scoolYear=1985&scoolClass=12B
RewriteRule Branea_Krisztina editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Vernes_Ibolya editDiak.php?uid=7&scoolYear=1985&scoolClass=12B
RewriteRule Bukkos_Ibolya editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Bukkos_Ildiko editDiak.php?uid=8&scoolYear=1985&scoolClass=12B
RewriteRule Dali_Endre editDiak.php?uid=9&scoolYear=1985&scoolClass=12B
RewriteRule Deak_Attila editDiak.php?uid=10&scoolYear=1985&scoolClass=12B
RewriteRule Kalman_Maria-Magdolna editDiak.php?uid=11&scoolYear=1985&scoolClass=12B
RewriteRule Enyedi_Maria-Magdolna editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Felhazi_Sandor editDiak.php?uid=12&scoolYear=1985&scoolClass=12B
RewriteRule Fulop_Erzsebet editDiak.php?uid=13&scoolYear=1985&scoolClass=12B
RewriteRule Gellert_Ilona editDiak.php?uid=14&scoolYear=1985&scoolClass=12B
RewriteRule Ilike_Ilona editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Hosszu_Sandor editDiak.php?uid=15&scoolYear=1985&scoolClass=12B
RewriteRule Jasko_Ilona editDiak.php?uid=16&scoolYear=1985&scoolClass=12B
RewriteRule Kelemen_Attila editDiak.php?uid=17&scoolYear=1985&scoolClass=12B
RewriteRule Kiss_Attila-Geza editDiak.php?uid=18&scoolYear=1985&scoolClass=12B
RewriteRule Kis-Lukacs_Laszlo editDiak.php?uid=19&scoolYear=1985&scoolClass=12B
RewriteRule Kory_Orsolya editDiak.php?uid=20&scoolYear=1985&scoolClass=12B
RewriteRule Kovacs_Arpad editDiak.php?uid=21&scoolYear=1985&scoolClass=12B
RewriteRule Kovacs_Adelka editDiak.php?uid=22&scoolYear=1985&scoolClass=12B
RewriteRule Szabo_Eva editDiak.php?uid=23&scoolYear=1985&scoolClass=12B
RewriteRule Kudor_Eva editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Lazar_Gabriella editDiak.php?uid=24&scoolYear=1985&scoolClass=12B
RewriteRule Lenard_Jozsef editDiak.php?uid=25&scoolYear=1985&scoolClass=12B
RewriteRule Yogi_Jozsef editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Marton-Asgrim_Aniko editDiak.php?uid=26&scoolYear=1985&scoolClass=12B
RewriteRule Marton_Aniko editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Berger_Maria editDiak.php?uid=27&scoolYear=1985&scoolClass=12B
RewriteRule Molnar_Maria editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Papp_Levente editDiak.php?uid=28&scoolYear=1985&scoolClass=12B
RewriteRule Szados_Erzsebet editDiak.php?uid=29&scoolYear=1985&scoolClass=12B
RewriteRule Peter_Erzsebet editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Dosa_Magda editDiak.php?uid=30&scoolYear=1985&scoolClass=12B
RewriteRule Rigo_Magda editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Dezsi_Krisztina editDiak.php?uid=31&scoolYear=1985&scoolClass=12B
RewriteRule Ripka_Krisztina editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Rozsa_Julianna editDiak.php?uid=32&scoolYear=1985&scoolClass=12B
RewriteRule Losteiner_Agnes editDiak.php?uid=33&scoolYear=1985&scoolClass=12B
RewriteRule Sepsy_Agnes editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Gergely-Varga_Andrea editDiak.php?uid=34&scoolYear=1985&scoolClass=12B
RewriteRule Simonfi_Andrea editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Tar-Bengtsson_Zsuzsa editDiak.php?uid=35&scoolYear=1985&scoolClass=12B
RewriteRule Tar_Zsuzsa editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Toth_Ibolya editDiak.php?uid=36&scoolYear=1985&scoolClass=12B
RewriteRule Bazsa_Jolan editDiak.php?uid=37&scoolYear=1985&scoolClass=12B
RewriteRule Tokes_Jolan editDiak.php?uid=&scoolYear=1985&scoolClass=12B
RewriteRule Veres_Gitta editDiak.php?uid=38&scoolYear=1985&scoolClass=12B
RewriteRule Nagy_Maria editDiak.php?uid=39&scoolYear=1985&scoolClass=12B
RewriteRule Vremir_Marton editDiak.php?uid=40&scoolYear=1985&scoolClass=12B
RewriteRule Veboldal_Administrator editDiak.php?uid=41&scoolYear=1985&scoolClass=12B
RewriteRule Revesz_Erzsebet editDiak.php?uid=42&scoolYear=1985&scoolClass=12B
RewriteRule Kiss_Erzsebet editDiak.php?uid=&scoolYear=1985&scoolClass=12B